In [3]:
#%pip install webdriver-manager
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
from functions import * 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver=webdriver.Chrome(ChromeDriverManager().install()) 
url = 'https://www.google.com/search?q=mundial+qatar+fechas&rlz=1C1VDKB_esES1021ES1021&oq=mundial+qatar+fechas&aqs=chrome..69i57j0i512l5j0i22i30l4.3512j1j7&sourceid=chrome&ie=UTF-8#sie=lg;/m/0fp_8fm;2;/m/030q7;mt;fp;1;;;'
driver.get(url)

time.sleep(2)  # parar 2 segundos

#Aceptamos las cookies
driver.find_element("xpath", '//*[@id="L2AGLb"]').click()
time.sleep(2)  # parar 2 segundos

#Esto se utiliza para hacer scroll hacía abajo en la pag.
lenOfPage = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);var lenOfPage=document.body.scrollHeight;return lenOfPage;")
match=False
while(match==False):
        lastCount = lenOfPage
        time.sleep(2)
        lenOfPage = driver.execute_script("window.scrollTo(0, document.body.scrollHeight);var lenOfPage=document.body.scrollHeight;return lenOfPage;")
        if lastCount==lenOfPage:
            match=True

#driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div/div[2]/div[2]/div/div/div[1]/div/block-component/div/div[1]/div/div/div/div[1]/div/div/div/div/div/div/div[2]/div/div/div/ol/li[1]').click()
time.sleep(2)  # parar 2 segundos


#Guardamos en partidos todas los partidos
partidos = driver.find_elements(By.CLASS_NAME, "KAIX8d")
driver.quit()

#-------------------------------------------------------------


#Ahora llamamos a la función horarios para que nos muestre el data frame.
df=horarios(partidos)

In [4]:
equipo1=input('¿De que partido quieres obtener la información? Equipo1 ')
equipo2=input('Equipo2 ')


ultimos_5_partidos=lastmatchs(eng(equipo1),eng(equipo2))
ultimos_5_partidos

¿De que partido quieres obtener la información? Equipo1 España
Equipo2 England

   Year Home Team Name  Home Team Gol Away Team Name  Away Team Gol Winner
0  1950          Spain              1        England              0  Spain
1  1982          Spain              0        England              0    Tie

In [5]:
final=queen(eng(equipo1),eng(equipo2))
final

   Country  Wins  Draws  Loses  World Cup 1st  World Cup 2nd  World Cup 3rd
0    Spain     1      1      0              1              0              0
1  England     0      1      1              1              0              0